* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*para que las cajas consideren a su borde como medida*/
    line-height: 1.5;
    /*interlineado*/
}

body {
    background-color: rgb(185, 152, 108);
}

/*color de letras de los links (botones)*/
a:link {
    color: whitesmoke;
    text-decoration: none;
}

a:visited {
    color: whitesmoke;
    text-decoration: none;
}

header {
    color: whitesmoke;
    background-color: #0b1426;
    /*position:fixed;*/
    /*Lo saque porque trae muchos problemas con las imagenes que siguen, vi otras paginas y no es usado siempre*/
    width: 100%;
    display: flex;
    flex-direction: column;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.header-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    background-color: black;
    color: white;
    font-weight: bold;
}

.header-info-text {
    margin: 0 1rem;
    font: color white;
    text-align: center;
}

header div li img {
    width: 1.2rem;

}

header div img {
    width: 5rem;
}

.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.nombre {
    display: flex;
    color: whitesmoke;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    align-items: center;
    text-decoration: underline;
}

nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    z-index: 0;
}

.checkbtn {
    display: none;
    overflow: hidden;
    height: 3rem;
    float: right;
    cursor: pointer;
}

#check {
    display: none;
}

nav li {
    list-style: none;
    text-decoration: none;
}

.botones {
    display: flex;
    list-style: none;
    text-decoration: none;
    background-color: black;
    color: #fff;
    display: inline;
    width: 15%;
    padding: 0rem 2rem;
    font-size: 2rem;
    border-radius: 8px;
}

.botones:hover {
    background: cornflowerblue;
}

main {
    /*border: violet solid;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;

}

.primerfondo {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.primerfondo img {
    width: 100%;
    height: 100%;
}

.primerfondo p {
    /*border: red solid;*/
    font-size: 4rem;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px black;
}

.parrafo {
    font-size: 1.9rem;
    padding: 5rem 12rem;
    text-align: center;
}

.slider {
    /*border: blue solid;*/
    overflow: hidden;
    width: 100%;
    z-index: -1;
}

.slides {
    position: relative;
    display: flex;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.slide {
    min-width: 100%;
    height: auto;
    z-index: -1;
}

.slide img {
    width: 100%;
    align-items: center;
    z-index: -1;
}

.promo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.fotopromo {
    width: 100%;
}

.novedades {
    font-size: 2.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    color: white;
}

.fotosportres {
    /*border: chocolate solid;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 1%;
}

.box {
    /* border: blueviolet solid;*/
    display: flex;
    overflow: hidden;
    /*margin: 0.5rem;*/
    width: 30%;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
}

.fotosportres div img {
    width: 100%;
}

.formmenu {
    background-color: rgb(185, 152, 108);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.form_encabezado {
    /*border: violet solid;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 1.5rem;
}

.formmenu section {
    display: flex;
    width: 40%;
    /*border: red solid;*/
    align-items: center;
    padding: 2rem 1rem;
}

main form {
    border: thin solid #383838;
    background-color: #E0E0E0;
    border-radius: 10px;
    padding: 1%;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 50rem;
    box-shadow: 8px 8px 11px 0px rgba(255, 255, 255, 0.555);
    border: 3px outset rgb(199, 185, 123);
}

textarea {
    width: 100%;
    height: 10rem;
}

main form div {
    /*border:rgba(39, 158, 98, 0.3) solid;*/
    width: 100%;
    padding: 0.3rem 0;

}

main form input {
    width: 100%;
    border: 1px #383838 solid;
}

.cajacv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border: 1px #383838 solid;
    height: 15rem;
    justify-content: center;
    align-items: center;
}

.adjuntarcv {
    display: block;
    flex-wrap: wrap;
    /*position: relative;*/
    background-color: black;
    color: white;
    border: 0;
    padding: 12px 20px;
    border-radius: 8px;
    overflow: hidden;
    transition: ease-out 120ms;
    width: 45%;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.01s ease-in-out;
}

.adjuntarcv:hover {
    transform: scale(1.01);
    box-shadow: 10px 10px 37px black;
    background: cornflowerblue;
    color: black;
    font-weight: bold;
}

.adjuntarcv label {
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.adjuntarcv input[type="file"] {
    appearance: none;
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

.adjuntarcv btn-file label {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 1;
}

#titemple {
    font-size: 2rem;
    color: white;
    text-align: center;
    width: 100%;
}
.empleados {
    background-color: black;
    /*border: blue solid;*/
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5rem 2rem;
    row-gap: 3rem;
}
.box_empleados {
    justify-content: center;
    border: 3px outset black solid;
    border-radius: 40px;
    width:23rem;
    box-shadow: 8px 8px 11px 0px rgba(255, 255, 255, 1);
    background-color: whitesmoke;
}
.box_empleados img {
    border-radius: 40px;
}

#persona-info { 
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.5rem;
}
#persona-info2 { 
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.5rem;
}
#persona-info3 { 
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.5rem;
}

/*estilos de galeria de platos*/
#tituloplatos1 {
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(185, 152, 108);
    font-weight: bold;
    font-size: 3rem;
    /*box-shadow: 8px 8px 11px 0px rgba(255, 255, 255, 0.555);
    border: 3px outset rgb(199, 185, 123);
    border-radius: 10%;*/
    padding: 1.5rem;
}

.galeria {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    background-color: rgb(185, 152, 108);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.galeria div {
    width: 35rem;
    height: 25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(185, 152, 108);
    box-shadow: 8px 8px 11px 0px rgba(255, 255, 255, 0.555);
    border: 3px outset rgb(199, 185, 123);
    border-radius: 10%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.galeria div:hover {
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
}

.galeria img {
    /*width: 25vw;
        height: 20vw;*/
    width: 85%;
    height: 80%;
    border-radius: 12%;
}

/*estilos de pagina de delivery*/

#pedinos {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    width: 100%;
    padding: 1.5rem;
}

.cajadeliverys {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem;
}

.deliverys {
    margin: 30px;
    width: 30vw;
    display: grid;
    padding: 1vw;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /*css de iframes de sucursales*/
}

#sucur {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    width: 100%;
    padding: 1.5rem;
}

.conteniframes {
    /*border: red solid;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 1%;

}

.iframes {
    display: flex;
    width: 45%;
    display: block;
    /*border: blue solid;*/
    text-align: center;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    color: white;
    align-items: center;
    /*max-width: 741px;*/
    height: 40rem;
    overflow: hidden;
    font-size: 2rem;
}

.iframes iframe {
    width: 95%;
    height: 85%;
}

/*A partir de aca comienza css para el Footer*/
/*footer {
    /*border: darkgreen solid;*//*
    background-color: darkkhaki;
    justify-content: center;
    align-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    bottom: 0px;
}

footer div {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.iconfoot {
    justify-content: center;
    width: 6rem;
    padding: 10px;
}

footer h5 {
    display: flex;
    width: 100%;
    font-size: 2rem;
    justify-content: center;
    align-content: center;
}
*/
/*footer nuevo bootstrap*/
.footer {
    background-color: #0b1426;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer .footer-left, .footer .footer-center, .footer .footer-right {
    display: inline-block;
    vertical-align: top;
}


.footer .footer-left {
    width: 30%;
}

.footer h3 {
    color: #ffffff;
    font: normal 36px 'popins', cursive;
    margin: 0;
}


.footer h3 span {
    color: #ffffff;
}

.footer .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer .footer-restaurant-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer .footer-center {
    width: 35%;
}

.footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: #ffffff;
    text-decoration: none;
    ;
}


.footer .footer-right {
    width: 30%;
}

.footer .footer-restaurant-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer .footer-restaurant-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .footer-icons {
    margin-top: 25px;
}

.footer .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

/*-------------------------A partir de aca comienza los Media Queries para Mobile--------------------------*/
@media only screen and (max-width:600px) {
    .nombre a{
        font-size: 2rem;
    }
    .novedades {
        font-size: 1rem;
    }   
    #pedinos {
        font-size: 2rem;
        padding: .5rem;
    }

    #tituloplatos1 {
        font-size: 2rem;
        padding: .5rem;
    }

    #sucur {
        font-size: 2rem;
        padding: .5rem;
    }
    .form_encabezado {
        font-size: 1.2rem;
        padding: .5rem;
    }

    #titemple {
        font-size: 1.4rem;
    }

    body {
        display: block;
    }

    header {
        position: static;
        display: flex;
        flex-direction: column;
        display: block;
    }

    .header-info {
        display: none;
    }

    .header-info-text {
        font: color white;
    }

    .logo {
        display: flex;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        padding: 0 2.5rem;
    }

    .icono {
        display: flex;
        display: inline-block;
        overflow: hidden;
        justify-content: center;
        width: 8rem;
    }

    .nombre {
        display: flex;
        color: whitesmoke;
        font-size: 2.5rem;
        font-style: italic;
        text-align: left;
        align-items: center;
        text-decoration: underline;
    }

    nav {
        display: block;
        flex-direction: column;
        height: 100%;
        overflow: auto;
    }

    nav ul {
        position: fixed;
        top: 80px;
        width: 100%;
        height: 30%;
        background-color: black;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .checkbtn {
        display: flex;
        position: fixed;
        top: 15px;
        left: 6px;
    }

    .botones {
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }

    /*FUNCION HOVER al parecer no funciona en mobile tiene problemas, por eso el menu DROPDOWN no lo pude hacer y encontre una opcion que es un BARRIDO LATERAL (
    lo saque de aca: 
    https://www.youtube.com/watch?v=f7QujqArvIw)
    */

    #check:checked~ul {
        left: 0;
    }

    main {
        display: block;
        flex-direction: column;
    }

    .primerfondo p {

        font-size: 1.2rem;
        position: absolute;
    }

    .fotosportres {
        /*border: chocolate solid;*/
        display: flex;
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .box {
        padding: .5rem .5rem;
        /* border: blueviolet solid;*/
        display: block;
        overflow: hidden;
        width: 100%;
    }

    .iconfoot {
        width: 4rem;
        padding: 8px;
    }

    .parrafo {
        background-color: seagreen;  /*BORRAR es para probar en que rango hace el cambio */
        font-size: 1.2rem;
        padding:1rem;
    }

    .formmenu section {
        width: 100%;
        /*border: red solid;*/
        align-items: center;
        padding: 1rem 1.5rem;
    }

    main form {
        margin: 1rem;
        padding: 1rem;
    }

    .adjuntarcv {
        width: 70%;
    }

    .box_empleados {
        justify-content: center;
        border: 3px outset black solid;
        border-radius: 40px;
        width:18rem;
        box-shadow: 8px 8px 11px 0px rgba(255, 255, 255, 1);
        background-color: whitesmoke;
    }

    .galeria {
        text-align: center;
        column-gap: 10px;
        row-gap: 8px;
        font-size: 1rem;
    }

    .galeria div {
        width: 18rem;
        height: 14rem; 
    }

    .galeria img {
        width: 90%;
        border-radius: 12%;
    }

    .deliverys {
        margin: 10px;
        width: 90%;
    }

    .conteniframes {
        display: block;
        width: 100%;
    }
    
    .iframes {
        /*border: blue solid;*/
        width: 100%;
        /*height: 1rem;*/
        height: 20rem;
        overflow: hidden;
        font-size: 1.4rem;
        padding: 1rem 0.5rem;
    }
    
    .iframes iframe {
        width: 95%;
        height: 85%;
    }
    

    .footer {
        padding: 10px 15px;
        margin-top: 10px;
    }

    .footer .footer-left, .footer .footer-center, .footer .footer-right {
        /*display: block;*/
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }
    
}
/*-------------------A partir de aca comienza los Media Queries para TABLET VERTICAL----------------------*/

@media (min-width:601px) and (max-width:768px) {
/*@media only screen and (max-width:768px) {*/
    .botones {
        padding: 0rem 1.2rem;
    }

    .formmenu section {
        width: 100%;
        padding: 1rem 3rem;
    }

    .parrafo {
        background-color: blue;  /*BORRAR es para probar en que rango hace el cambio */
        font-size: 1.4rem;
        padding:1rem;
    }

    .primerfondo p {
        font-size: 2rem;
        position: absolute;
    }

    .novedades {
        font-size: 1.5rem;
    }

    .galeria div {
        width: 35rem;
        height: 25rem; 
    }
    
    .iframes {
        width: 100%;
        height: 18rem;
        font-size: 1.2rem;
    }

    .adjuntarcv {
        width: 50%;
    }
}

/*--------------A partir de aca comienza los Media Queries para NOTEBOOK o Tablet HORIZONTAL ---------------*/

@media (min-width:769px) and (max-width:1490px) {
/*@media only screen and (max-width:1490px) {*/
    .formmenu section {
        width: 100%;
        padding: 1rem 2.5rem;
    }

    .parrafo {
        background-color: orange;  /*BORRAR es para probar en que rango hace el cambio */
        font-size: 1.9rem;
        padding:2rem;
    }

    .primerfondo p {
        font-size: 2.5rem;
        position: absolute;
    }

    .iframes {
        width: 100%;
        height: 35rem;
        font-size: 2rem;
    }
    
    .adjuntarcv {
        width: 50%;
    }

    .galeria div {
        width: 35rem;
        height: 25rem; 
    }
}