* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*para que las cajas consideren a su borde como medida*/
    line-height: 1.5;
    /*interlineado*/
}

body {
    background-color: rgb(185, 152, 108);
}

/*color de letras de los links (botones)*/
a:link {
    color: whitesmoke;
    text-decoration: none;
}

a:visited {
    color: whitesmoke;
    text-decoration: none;
}

header {

    color: whitesmoke;
    background-color: #0b1426;
    /*position:fixed;*/
    /*Lo saque porque trae muchos problemas con las imagenes que siguen, vi otras paginas y no es usado siempre*/
    width: 100%;
    display: flex;
    flex-direction: column;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.header-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    background-color: black;
    color: white;
    font-weight: bold;
}

.header-info-text {
    margin: 0 1rem;
    font: color white;
    text-align: center;
}

header div li img {
    width: 1.2rem;

}

header div img {
    width: 5rem;
}

.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.icono {
    display: flex;
    display: inline-block;
    overflow: hidden;
    justify-content: center;
    width: 8rem;
}

#nombre {
    display: flex;
    color: whitesmoke;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    align-items: center;
    text-decoration: underline;
}

nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    z-index: 0;
}

.checkbtn {
    display: none;
    overflow: hidden;
    height: 3rem;
    float: right;
    cursor: pointer;
}

#check {
    display: none;
}

nav li {
    list-style: none;
    text-decoration: none;
}

.botones {
    display: flex;
    list-style: none;
    text-decoration: none;
    background-color: black;
    color: #fff;
    display: inline;
    width: 15%;
    padding: 0rem 2rem;
    font-size: 2rem;
    border-radius: 8px;
}

.botones:hover {
    background: cornflowerblue;
}

main {
    /*border: violet solid;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;

}

.primerfondo {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: -1;

}

.primerfondo img {

    width: 100%;
    height: 100%;
}

.primerfondo p {
    /*border: red solid;*/
    font-size: 6rem;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px black;
}

.parrafo {
    font-size: 1.9rem;
    padding: 5rem 12rem;
    text-align: center;

}

.slider {
    /*border: blue solid;*/
    overflow: hidden;
    width: 100%;
    z-index: -1;
}

.slides {
    position: relative;
    display: flex;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.slide {
    min-width: 100%;
    height: auto;
    z-index: -1;
}

.slide img {
    width: 100%;
    align-items: center;
    z-index: -1;
}


.promo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.fotopromo {
    width: 100%;
}

.novedades {
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    color: white;
}

.fotosportres {
    /*border: chocolate solid;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 1%;

}

.box {
    /* border: blueviolet solid;*/
    display: flex;
    overflow: hidden;
    /*margin: 0.5rem;*/
    width: 30%;
    justify-content: center;
    align-content: center;
}

.fotosportres div img {
    width: 100%;
}

.formmenu {
    background-color: rgb(185, 152, 108);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.form_encabezado {
    /*border: violet solid;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-weight: bold;
}

.formmenu section {
    display: flex;
    width: 40%;
    /*border: red solid;*/
    align-items: center;
    padding: 2rem 1rem;
}

main form {
    border: thin solid #383838;
    background-color: #E0E0E0;
    border-radius: 10px;
    padding: 1%;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 50rem;
    box-shadow: 8px 8px 11px 0px rgba(255, 255, 255, 0.555);
    border: 3px outset rgb(199, 185, 123);


}

textarea {
    width: 100%;
    height: 10rem;
}

main form div {
    /*border:rgba(39, 158, 98, 0.3) solid;*/
    width: 100%;
    padding: 0.3rem 0;

}

main form input {
    width: 100%;
    border: 1px #383838 solid;
}

.cajacv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border: 1px #383838 solid;
    height: 10rem;
    justify-content: center;
    align-items: center;


}

.adjuntarcv {
    display: inline-block;
    /*position: relative;*/
    background-color: black;
    color: white;
    border: 0;
    padding: 12px 20px;
    border-radius: 8px;
    overflow: hidden;
    transition: ease-out 120ms;
    width: 45%;

}

.adjuntarcv input[type="file"] {
    appearance: none;
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

.adjuntarcv btn-file label {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 1;
}

#titemple {
    font-size: 2rem;
    color: white;
    text-align: center;
    width: 100%;
}
.empleados {
    background-color: black;
    /*border: blue solid;*/
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5rem 2rem;
    row-gap: 3rem;
}
.box_empleados {
    justify-content: center;
    border: 3px outset black solid;
    border-radius: 40px;
    width:23rem;
    box-shadow: 8px 8px 11px 0px rgba(255, 255, 255, 1);
    background-color: whitesmoke;
}
.box_empleados img {
    border-radius: 40px;
}
#persona-info { 
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.5rem;
}
#persona-info2 { 
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.5rem;
}
#persona-info3 { 
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.5rem;
}



/*estilos de galeria de platos*/
.tituloplatos {
    padding: 1%;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(185, 152, 108);
    font-weight: bold;
    font-size: 3rem;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);


}

#tituloplatos1 {
    width: 1fr;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(185, 152, 108);
    font-weight: bold;
    font-size: 3rem;
    /*box-shadow: 8px 8px 11px 0px rgba(255, 255, 255, 0.555);
    border: 3px outset rgb(199, 185, 123);
    border-radius: 10%;*/
}

.galeria {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    background-color: rgb(185, 152, 108);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.galeria div {
    width: 35rem;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(185, 152, 108);
    box-shadow: 8px 8px 11px 0px rgba(255, 255, 255, 0.555);
    border: 3px outset rgb(199, 185, 123);
    border-radius: 10%;

}
.galeria img {
    /*width: 25vw;
        height: 20vw;*/
    width: 75%;
    height: 80%;
    border-radius: 12%;
}

/*estilos de pagina de delivery*/

#pedinos {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    width: 100%;

}

.deliverys {

    margin: 30px;

    width: 30vw;
    display: grid;
    padding: 1vw;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /*css de iframes de sucursales*/
}

#sucur {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    width: 100%;
}

.conteniframe {
    display: grid;
    grid-template-columns: repeat(2, 2fr);

}

.iframes {
    text-align: center;
    font-weight: bold;
    color: white;
    display: grid;
    align-items: center;



}



/*A partir de aca comienza css para el Footer*/
footer {
    /*border: darkgreen solid;*/
    background-color: darkkhaki;
    justify-content: center;
    align-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    bottom: 0px;
}

footer div {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.iconfoot {
    justify-content: center;
    width: 6rem;
    padding: 10px;
}

footer h5 {
    display: flex;
    width: 100%;
    font-size: 2rem;
    justify-content: center;
    align-content: center;
}


/*-------------------------A partir de aca comienza los Media Queries para Mobile--------------------------*/
@media only screen and (max-width:600px) {
    body {
        display: block;
    }

    #nombre {
        font-size: 1rem;
    }

    header {
        position: static;
        display: flex;
        flex-direction: column;
        display: block;
    }

    .header-info {
        display: none;
    }

    .header-info-text {
        font: color white;
    }

    header div img {
        width: 5rem;
    }

    .logo {
        display: flex;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        padding: 0 2.5rem;
    }

    .icono {
        display: flex;
        display: inline-block;
        overflow: hidden;
        justify-content: center;
        width: 8rem;
    }

    .nombre {
        display: flex;
        color: whitesmoke;
        font-size: 2.5rem;
        font-style: italic;
        text-align: left;
        align-items: center;
        text-decoration: underline;
    }

    nav {
        display: block;
        flex-direction: column;
        height: 100%;
        overflow: auto;
    }

    nav ul {
        position: fixed;
        top: 80px;
        width: 100%;
        height: 30%;
        background-color: black;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .checkbtn {
        display: flex;
        position: fixed;
        top: 15px;
        left: 6px;
    }

    .botones {
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }


    /*FUNCION HOVER al parecer no funciona en mobile tiene problemas, por eso el menu DROPDOWN no lo pude hacer y encontre una opcion que es un BARRIDO LATERAL (
    lo saque de aca: 
    https://www.youtube.com/watch?v=f7QujqArvIw)
    */

    #check:checked~ul {
        left: 0;
    }

    main {
        display: block;
        flex-direction: column;
    }

    .primerfondo p {

        font-size: 1.2rem;
        position: absolute;

    }

    .parrafo {
        font-size: 1.2rem;
        padding: 1rem 3rem;

    }


    .fotosportres {
        /*border: chocolate solid;*/
        display: flex;
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .box {
        padding: .5rem .5rem;
        /* border: blueviolet solid;*/
        display: block;
        overflow: hidden;

        width: 100%;

    }

    .iconfoot {
        width: 4rem;
        padding: 8px;
    }

    footer h5 {
        font-size: 1.5rem;
    }

    .formmenu section {
        width: 100%;
        /*border: red solid;*/
        align-items: center;
        padding: 1rem 2rem;
    }

    main form {
        margin: 1rem;
        padding: 1rem;
    }

    .box_empleados {
        width:21rem;
    }

    .galeria {
        text-align: center;
        column-gap: 10px;
        row-gap: 8px;
        font-size: 1rem;
    }

    .galeria div {
        /*border: blue solid;*/
        width: 100%;
        height: 18rem;
    }

    .galeria img {
        width: 95%;
        border-radius: 12%;
    }

    .deliverys {
        justify-content: left;
    }

    .contenifram {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    iframe {
        text-align: start;
        font-weight: bold;
        color: white;
        display: grid;
        justify-content: center;
        width: 47vw;
        height: 30vw;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        column-gap: 10px;
        padding: 2%;
        text-align: center;
    }
}

@media only screen and (min-width:600px) {
    .primerfondo p {
        /*border: red solid;*/
        font-size: 2rem;
    }

    /*apps de delivery*/
    .deliverys {
        width: 30vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 1vw;
        justify-content: left;
    }

    .contenifram {

        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 1vw;
        row-gap: 10px;
        column-gap: 10px;
        align-items: center;
        width: 60%;
        margin: 2%;
    }

    iframe {
        width: 45vw;
        align-items: end;
        height: 50vw;
    }
}

@media only screen and (min-width:700px) {

    .contenifram {

        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 1vw;
        row-gap: 10px;
        column-gap: 10px;
        align-items: right;
        width: 65%;
    }

    .iframes {
        width: 45vw;
    }

    .deliverys {
        width: 30vw;
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 1vw;
        justify-content: left;
    }
}

@media only screen and (min-width:770px) {

    .primerfondo p {
        /*border: red solid;*/
        font-size: 3rem;
    }

    /*apps de delivery*/

    .deliverys {
        width: 35vw;
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 1vw;
        justify-content: left;
    }

    .contenifram {

        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 1vw;
        row-gap: 20px;
        column-gap: 20px;
        align-items: center;
        width: 50vw;
        font-size: 2rem;
    }

    .iframes {
        width: 45vw;

    }
}