*{
    margin: 0px;
    height: max-content;
}
a:link
{   color: whitesmoke;
    text-decoration: none;
    
}
a:visited
{   color: whitesmoke;
    text-decoration: none;
}
.header {
    color: whitesmoke;
    font-weight: 600;
    width: 100%;
    height: 5%;
    background-color: darkkhaki;
    position:fixed;
    top: 10px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2%;
    
    margin-right: 0%;
    
    text-align: center;
    
    

}
.logo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: left;
    

}
.nombre{
    color: whitesmoke;
    font-size:4.5vw ;
    font-style: italic;
    text-align: left;
    text-decoration: underline;
    
}

.botones {
    font-size: 3vw;
    align-content: end;
    padding-top: 5%;
}


.pie{
    background-color: darkkhaki;
    
} 

.iconfoot{
    height: 5vw;

}

@media only screen and (min-width:420px){
    .header{
        max-width: 100%;
        height: 6%;
        margin-left: 15%;
        align-items: top;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%; 
        
         
    }
    .botones{
        font-size: 2.5vw;
    }
    
    
}





@media only screen and (min-width:720px){
    .header{
        max-width: 100%;
        height: 4%;
        margin-left: 15%;
        align-items: top;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%; 
        
         
    }
  
    .botones{
        font-size: 1.9vw;
    }
    
}
@media only screen and (min-width:900px){
    .header{
        max-width: 100%;
        height: 4%;
        margin-left: 15%;
        align-items: top;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%; 
        
         
    }
  
    .botones{
        font-size: 1vw;
    }
    
}






